<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.countdown.css">
    <link rel="stylesheet" href="css/index.css">
    <title>jeaune congo</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="row headerone">
                <div class="col-lg-3 startlink divlink">
                    <p><a href="#">Cultivons un autre monde!</a></p>
                </div>
                <div class="col-lg-6 listmenu ">
                        <div class="divlink">
                            <p> <a href="#">Infos qualité</a></p>
                         </div>
                         <div class="divlink">
                            <p> <a href="#">Infos livraison</a></p>
                         </div>
                         <div class="divlink">
                            <p> <a href="#">Infos paiement</a></p>
                         </div>
                    <div class=" listeone">
                        <ul>
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="far fa-envelope"></i></li>
                            <li><i class="fas fa-phone-alt"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row headertwo">
                <div class="col-lg-2 logone">
                    <img src="image/Logo_Jaune_Congo_GilroyFont-01-transparent.jpg" width="150px" heigth="90px" alt="">
                </div>
                <div class="col-lg-9 listetwo">
                    <ul>
                        <li><a href="#">Légumes</a></li>
                        <li><a href="#">Fruits</a></li>
                        <li><a href="#">Herbes aromatiques</a></li>
                        <li><a href="#">Panier hebdomadaires</a></li>
                        <li><a href="#">plus</a></li>
                        <li><a href="#">Connexion</a></li>
                        <li><a href="#">Panier / $0.00 <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="bodys">
                <div class="fgone">
                    <img src="image/Logo_legumes_blanc-1400x734.jpg" width="240px" height="150px" alt="" id="logs">
                    <p>chez nous,vous etes "satisfait ou rembourser"! </p>
                </div>
                <div class="row lineone">
                        <div class="col-lg-3">
                            <figure class="imghvr-reveal-up">
                                <h2>Sain</h2>
                                <img src="https://i1.wp.com/jaunecongo.com/wp-content/uploads/2019/07/sain.jpg?resize=280%2C280&ssl=1" height="210px" width="300px" alt="Legume">
                                <figcaption>
                                  <div class="content">
                                    <p>Des graines saines dans un sol sain. Chez JauneCongo, pas d’OGM ni de pesticides interdits en Europe. 
                                        Vous êtes assurés de manger des légumes sans résidus de produits chimiques,
                                        issus d’une agriculture respectueuse de l’environnement!<br> </p>
                                  </div>
                                </figcaption>
                                <a href="#"></a>
                              </figure>
                        </div>    
                        <div class="col-lg-5" id="cardtwo" >
                            <h4 class="toppos1"><strong>Produit de la semaine</strong></h4>
                            <h3 class="toppos">Pour plus de 15$ de  commande</h3>
                            <h3>nous vous offrons un demi kilo de patate douce!</h3>
                        </div>
                        <div class="col-lg-3">
                            <figure class="imghvr-reveal-up">
                                <h2>Frais</h2>
                                <img src="https://i1.wp.com/jaunecongo.com/wp-content/uploads/2019/07/DSC04210.jpg?resize=280%2C280&ssl=1" height="210px" width="300px">
                                <figcaption>
                                  <div class="content">
                                    <p>
                                        La fraicheur a un goût ! Nous récoltons la veille de la livraison, 
                                        il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! 
                                        Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                                  </div>
                                </figcaption>
                                <a href="#"></a>
                              </figure>
                        </div>
                </div>
                <div class="row litwo">
                    <div class="col-lg-3" >
                        <figure class="imghvr-reveal-up endfifure">
                            <h2>Qualité garantie</h2>
                            <img src="https://i2.wp.com/jaunecongo.com/wp-content/uploads/2019/07/DSC07251.jpg?resize=280%2C280&ssl=1"height="210px" width="300px">
                            <figcaption>
                              <div class="content">
                                <p>
                                    La fraicheur a un goût ! Nous récoltons la veille de la livraison, 
                                    il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! 
                                    Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                              </div>
                            </figcaption>
                            <a href="#"></a>
                          </figure>
                    </div>    
                    <div class="col-lg-5 middle">
                        <h4><strong>Attention! plus que</strong></h4>
                        <ul id="timer">
                            <li><span class="days">00</span>
                              <p class="days_text">Days</p>
                            </li>
                            <!-- <li class="seperator">:</li> -->
                            <li><span class="hours">00</span>
                              <p class="hours_text">Hours</p>
                            </li>
                            <!-- <li class="seperator">:</li> -->
                            <li><span class="minutes">00</span>
                              <p class="minutes_text">Minutes</p>
                            </li>
                            <!-- <li class="seperator">:</li> -->
                            <li><span class="seconds">00</span>
                              <p class="seconds_text">Seconds</p>
                            </li>
                          </ul>
                        <h3>pour commander votre dose hebdomadaire de vitamines!</h3>
                    </div>
                    <div class="col-lg-3">
                        <figure class="imghvr-reveal-up">
                            <h2>Local</h2>
                            <img src="https://i2.wp.com/jaunecongo.com/wp-content/uploads/2019/07/DSC07251.jpg?resize=280%2C280&ssl=1"height="210px" width="300px">
                            <figcaption>
                              <div class="content">
                                <p>
                                    La fraicheur a un goût ! Nous récoltons la veille de la livraison, 
                                    il y a donc moins de 24h entre la cueillette et le dépôt du panier chez nos clients ! 
                                    Goûtez la fraîcheur, vous ne pourrez plus vous en passer.<br> </p>
                              </div>
                            </figcaption>
                            <a href="#"></a>
                          </figure>
                    </div>
            </div>
            <div class="bodys2">
                <div class="container">
                    <h2 class="hdeux">
                        <span>Nos produits cette semaine</span>
                    </h2>
                    <div class="items">
                        <%  for(produit of produits) {%>
                        <div class="carte">
                            <a href=<%= `/produits/${produit.id}` %>><img src=<%= produit.image %> alt=""></a>
                            <p><b><%= produit.name %></b></p>
                            <p>$ <span class="qt"><%= produit.prixKilo %></span>/Kilo</p>
                            <p>$ <span class="qt"><%= produit.prixBouquet %></span>/bouquet de 25 grammes</p>
                            <p>$ <span class="qt"><%= produit.prixBotte %></span>/botte de 500 grammes</p>
                            <p>Quantité encore disponible: <%= produit.qteDispo%></p><br>
                            <a class="control plusx moins" data-target="<%=produit.id%>" href="#">-</a>
                            <input type="text" id="<%=produit.id%>" name="" value="1">
                            <a class="control plus" data-target="<%=produit.id%>" href="#">+</a>
                            <button type="button" name="button">AJOUTER AU PANIER</button>
                        </div>
                        <% }%>
                    </div>
              </div>
            </div>
                <div class="bodys3">
                    <h2 class="htrois">
                        <span>Promotions permanentes</span>
                    </h2>
                    <div class="row lifour">
                            <div class="col-lg-4">
                                <div class="card" style="width: 18rem;">
                                        <a href="#"><img class="card-img-top" src="image/card1.jpg" alt="Card image cap"></a>
                                        <div class="card-body">
                                            <h5 class="card-title">Parrainage – gagnez 5$!</h5>
                                            <p class="card-text"> Parrainez vos amis et gagnez 5$! Remplissez ce
                                                <button type="button" class="buttonform" name="button">FORMULAIRE DE PARAINAGE</button><br>
                                                <span class="textMilieu"> et votre ami recevra un courriel contenant un coupon de 20% pour sa première commande.
                                                    Une fois celle-ci effectuée vous recevrez à votre tour un courriel 
                                                    contenant un coupon de 5$ pour votre prochaine commande de vitamines!</span>  
                                            </p>
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-4 ">
                                <div class="card" style="width: 18rem;">
                                    <a href="#"><img class="card-img-top" src="image/card2.jpg" height="220px" alt="Card image cap"></a>
                                    <div class="card-body">
                                        <h5 class="card-title">Rabais fidélités – jusqu’à 10% sur toutes vos commandes!</h5>
                                        <p class="card-text"> Rabais fidélité 1 mois
                                            Si vous avez dépensé plus de 80$ sur notre site lors des 30 derniers jours, un rabais de 5% sera automatiquement appliqué à votre commande!
                                            Rabais fidélité 3 mois Si vous avez commandé plus de 9 fois sur notre site lors des 3 deniers mois un rabais de 
                                            5% sera automatiquement appliqué à votre commande!
                                            Ces rabais sont cumulables, mais ils ne peuvent être appliqués qu’aux clients inscrits sur le site 
                                        </p>
                                    </div>
                            </div>
                            </div>
                                <div class="col-lg-4 ">
                                    <div class="card" style="width: 18rem;">
                                        <a href="#"><img class="card-img-top" src="image/card3.jpg" alt=""></a>
                                        <div class="card-body">
                                            <h5 class="card-title">de vitamines en plus!</h5>
                                            <p class="card-text">Profitez de 10% minimum de réduction sur vos légumes et fruits en vous abonnant à nos paniers hebdomadaires:
                                                vous nous indiquer vos préférences et
                                                nous vous livrons chaque semaine des paniers composés par nos soins.
                                                Ce rabais n’est pas cumulable avec les rabais fidélités et paiement par acompte
                                            </p>
                                            <button type="button" class="buttabonner" name="button">ABONNEZ-VOUS MAINTENANT!</button>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="bodys4">
                    <h2 class="htrois">
                        <span>Les nouvelles de la ferme</span>
                    </h2>
                    <div class="row lifive">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <div class="row " alt="First slide">
                                        <div class="col-12 firstslide">
                                            <img class="d-block w-100" width="200px" height="200px" src="image/caroussel1.jpg"  >
                                            <img class="d-block w-100" width="200px" height="200px"  src="image/caroussel2.jpg" >
                                            <img class="d-block w-100" width="200px" height="200px"  src="image/caroussel3.jpg" >
                                            <img class="d-block w-100" width="200px" height="200px" src="image/caroussel4.jpg">
                                            <img class="d-block w-100" width="200px" height="200px" src="image/caroussel5.jpg"  >
                                        </div>
                                  </div>
                              </div>
                              <div class="carousel-item">
                                    <div class="row" alt="First slide" alt="Second slide">
                                        <div class="col-12 firstslide">
                                            <img class="d-block w-100" width="200px" height="200px" src="image/caroussel5.jpg"  >
                                            <img class="d-block w-100" width="200px" height="200px"  src="image/caroussel6.jpg" >
                                            <img class="d-block w-100" width="200px" height="200px"  src="image/caroussel7.jpg" >
                                            <img class="d-block w-100" width="200px" height="200px" src="image/caroussel8.jpg">
                                            <img class="d-block w-100" width="200px" height="200px" src="image/caroussel9.jpg"  >
                                        </div>
                                    </div>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next nexts" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                    <div class="row lisix">
                            <div class="col-lg-4">
                                    <div class="row">
                                        <p>Inscrivez-vous ci-dessous pour être au courant de toutes nos activités.</p><br>
                                    </div>
                                    <div class="row">
                                        <span>Adresse électronique: </span>
                                    </div>
                                    <div class="row">
                                        <div class="form-row">
                                            <div class="col-12 form-group">
                                                <input type="text" class="form-control" id="id" placeholder="votre adresse de couriel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Abonnez-vous à notre lettre d'information semestrielle</label>
                                        </div>
                                        <p>Tous les 6 mois, nous vous envoyons des informations sur JauneCongo, notre équipe et nos méthodes de travail</p>
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Abonnez-vous à notre courriel d'information hebdomadaire</label>
                                        </div>
                                        <p>Tous les 6 mois, nous vous envoyons des informations sur JauneCongo, notre équipe et nos méthodes de travail</p>
                                        <button class="btn btn-primary btninscrire">S'inscrire</button>
                                    </div>
                            </div>
                            <div class="col-lg-2">
                                <img src="image/whatsapp-logo-white.png" width="100px" height="90px" alt="">
                            </div>
                            <div class="col-lg-4">
                                <h5>Inscrivez-vous à notre groupe Whatsapp</h5>
                                <p>
                                    Envoyez-nous un message Whatsapp au +243 81 23 25 230 et nous 
                                    vous enverrons une invitation à notre groupe Whatsapp.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 titrebook">
                                <h5>Et lisez ou relisez nos lettres d'informations!</h5><br>
                            </div>
                        </div>
                        <div class="row liseven">
                            <!-- <h5>Et lisez ou relisez nos lettres d'informations!</h5> -->
                            <div class="col-lg-4">
                                <img src="image/book1.png" width="200px" height="300px" alt="">
                            </div>
                            <div class="col-lg-4">
                                <img src="image/book2.png" width="200px" height="300px" alt="">
                            </div>
                            <div class="col-lg-4">
                                <img src="image/book3.png"  width="200px" height="300px" alt="">
                            </div>
                        </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footers">
                <div class="linkfoot1">
                    <h5>A notre propos</h5>
                    <span class="sousBar"></span>
                    <ul>
                        <li>Notre vision</li>
                        <li>L’entreprise</li>
                        <li>Le contexte</li>
                        <li>Participer au développement de JauneCongo</li>
                    </ul>
                </div>
                <div class="linkfoot2">
                    <h5>Service Client</h5>
                    <span class="sousBar"></span>
                    <ul>
                        <li>Infos qualité</li>
                        <li>Infos livraisons</li>
                        <li>Infos paiements</li>
                    </ul>
                </div>
                <div class="linkfoot3">
                    <h5>Partageons nos recettes !</h5>
                    <span class="sousBar"></span>
                    <p>Recettes et astuces fraicheurs</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/js/jquery.countdown.min.js" charset="utf-8"></script>
    <script src="js/index.js"></script>
</body>
</html>